.m-rewards{
    margin: 0px;
    padding: 222px 0px 0px 0px;
    color: rgb(255, 255, 255);

   .r-mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(10,103,74);
    background: linear-gradient(180deg, rgba(10,103,74,1) 0%, rgba(25,66,55,1) 100%);
    padding: 49px 0px 160px 0px;
    .marcador{
        margin-top: 30px;
        padding-bottom: 16px;
        width: 161.125px;
        height: 175.72px;
    }
    .m-green{
        font-size: 28px;
        font-weight: bold;
        letter-spacing: normal;
        margin-bottom: 15px;
    }
    .m-starbucks{
        width: 250px;
        height: 86.6px;
    }
    .m-registrate{
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.37em;
        font-weight: 500;
        padding: 0px 40px;
        font-weight: bold;
    }
    .m-button{
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        background-color: var(--bg-delivery);
        font-weight: bold;
        border: 2px solid white;
        border-radius: 50px;
        width: 200px;
        padding: 15px;
        margin-top: 24px;
        font-size: 17px;
        }
    }
    .r-beneficios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: black;
        padding: 40px 15px;
        
        .r-text{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0px 45px;
            text-align: start;
            font-weight: bold;
            font-size: 20px;
            line-height: 18px;
            margin-bottom: 16px;
        }
        .add-start{
            padding: 40px 15px;
            line-height: 18px;  
            >:nth-child(1){
             margin-bottom: 16px;
             font-weight: bold;
             font-size: 20px;
            }
        .b-start{
            width: 30px;
            height: 30px;
            margin-bottom: 20px;
            }  
        }
    } 
}
