.bebidas-conteiner{
    display: flex;
    picture{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      .bc-img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 207.5px;
        height: 207.5px;
        }  
        .bc-text{
            font-weight: bold;
        }
    }
    
}