.slide-conteiner{
    display: flex;
    flex-direction: column;
    .slide-top{
        display: flex;
        height: 200px;
    }
    .slide-button{
        position: relative;
        z-index: 1;
    }
}