:root{
  --bg-general: #f2f2f2;
  --bg-delivery: #1e3932;
  --input: #212529;
  --bs-grey: #EFEFEF;
  --bg-booton: #a5c1ac; 
  --text-nosotros: #9999a5;
  --inspirar-text: #006141;
  --bg-inspirar: #e6e6e6;
}