.acc-start{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 40px 15px;
    background-color: var(--bg-pagos);
    .acc-conteiner{
        margin: 0px 56.250px;
        .acc-text{
            >:nth-child(1){
                display: flex;
                color: black;
                font-weight: bold;
            }
            >:nth-child(2){
                display: flex;
                color: var(--inspirar-text);
                font-weight: bold;
            }
            >:nth-child(3){
                display: flex;
                justify-content: center;
                align-items: center;
                height: 101.250px;
                width: 270px;
            }
            >:nth-child(4){
                display: flex;
                color: var(--inspirar-text);
                font-weight: bold;
            }
        }
    }
}